@using System.Data;

@page "/addnewnote"

<PageTitle>Заполнение паспорта объекта</PageTitle>
<h3>AddNewNote</h3>

<h1>ID</h1>


<table>
    <thead>
        <tr>
                <th>
                    heelll
                </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                    <td>
                    </td>
            </tr>
    </tbody>
</table>

@code {
}

