@page "/datefind"

<h3>DateFind</h3>

<h1>ID</h1>
<input type="text">
<br />
<br />

<h3>С</h3>
<h3>По</h3>
<input type="date" @bind="@myModelS.MyDate" />
<input type="date" @bind="@myModelPO.MyDate" />
<br />
<br />

<button type="button" @onclick="HandleSubmit">
    Найти
</button>

@code {

    public class MyModel
    {
        public DateTime MyDate { get; set; }
    }


    private MyModel myModelS = new MyModel();

    private void HandleSubmit()
    {
        DateTime selectedDateS = myModelS.MyDate;
        DateTime selectedDatePO = myModelPO.MyDate;
        // Дальнейшая обработка дат
    }

    private MyModel myModelPO = new MyModel();
  


}
